$bg-color: rgb(236, 212, 212);
$bg-button-start: rgb(206, 226, 166);
$bg-button-stop: rgb(243, 183, 183);
$bg-button-reset: rgb(196, 231, 247);
$ln-button-start: rgb(8, 95, 8);
$ln-button-stop: rgb(134, 2, 2);
$ln-button-reset: rgb(1, 66, 97);